/bot.log
/.env
/image.jpg
/qr_code.png
/revizor_logo.jpg
/revizor_logo-original-from-template.jpg
/Roboto-Regular.ttf
/SakBunderan.ttf
/service_account.json
/test_qr_code.png
/times_bold.ttf
/times_regular.ttf
/UFO_temp.py
/app/test.py
/bot_logs/
bot_logs/
/.idea/
.idea/
